mat-form-field{
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.remove-address {
  position: absolute;
  right: 5px;
  top: 5px;
}
