:host {
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.remove-participant{
  position: absolute;
  right: 5px;
  top: 5px;
}
.add-address{
  position: absolute;
  left: 280px;
  top: 10px;
}
